@import "tailwindcss";
@import "tw-animate-css";


:root {
  --background: #f0d8bb;
  --foreground: #1e1f13;
  --primary: #f0d8bb;
  --muted: #ebedee;
  --muted-foreground: #374151;
}

@theme inline {
  --font-sans: 'Darker Grotesque';
  --font-title: 'Maragsa';
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
}

@layer base {
  @font-face {
    font-family: 'Darker Grotesque';
    src: url('./assets/fonts/DarkerGrotesque-VariableFont.ttf') format('truetype');
    font-weight: 100 900;
  }

  @font-face {
    font-family: 'Maragsa';
    src: url('./assets/fonts/Maragsa-Display.woff2') format('woff2');
    font-weight: 100 900;
  }

  body {
    @apply bg-background font-sans antialiased
  }
}

@theme {
  --animate-soft-pulse: softPulse 2.5s ease-in-out infinite;

  @keyframes softPulse {

    0%,
    100% {
      opacity: 0.1;
    }

    50% {
      opacity: 0.3;
    }
  }
}
